@model SBP_Mongo.Models.Vrsta

@{
    ViewData["Title"] = "Details of Vrsta vozila";
}
<br/>
<h2 class="text-warning">Details</h2>
<br/>
<div>
    <h4>Vrsta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-success" fdprocessedid="oaubug">Edit</a>
    <a asp-action="Index" class="btn btn-outline-light" fdprocessedid="brqypi">Back to List</a>
</div>
